<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block html_title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Noto+Serif:400,400i,700|Open+Sans:300,400,400i,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <style>
        body {
            margin: 0;
            background: #f8f8f8;
            font-family: "Open Sans", sans-serif;
        }

        header {
            background: #3f51b5;
        }

        nav {
            background: #303F9F;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Montserrat", sans-serif;
            font-weight: 100;
        }

        .bricks {
            display: flex;
            margin-left: -24px;
            margin-right: -24px;
        }

        .brick {
            width: 33.33333333333333333%;
        }

        .brick-inner {
            margin: 0 12px 24px;
            background: #fff;
            padding: 24px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            border-radius: 4px;
            overflow: hidden;
        }

        .brick-inner img {
            width: calc(100% + 48px);
            height: auto;
            margin: -24px -24px 0;
        }

        a {
            text-decoration: none;
        }

        nav ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        nav li {
            color: white;
            font-family: "Montserrat", sans-serif;
            list-style: none;
            font-weight: 100;
        }

        /* LOGO */

        #logo {
            text-align: center;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px 0;
        }

        #logo h1 {
            margin: 0;
            color: #ffa726;
            font-family: "Montserrat";
            font-size: 120px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
        }

        h2#logo-youth {
            font-family: "Montserrat";
            color: #fff;
            transform: rotate(-8.5deg);
            width: auto;
            margin: 0 0 0 -400px;
            font-size: 36px;
            font-weight: 300;
            line-height: 1;
        }
        
        .centered{
            max-width: 1200px;
            padding: 24px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <header>
        <a href="/">
            <div id="logo">
                <div id="logo-inner">
                    <h2 id="logo-youth">Youth</h2>
                    <h1 id="logo-voice">V<i class="la la-volume-up"></i>ice</h1>
                </div>
            </div>
        </a>
        <!--<p>Привет,
            {% if request.user.is_authenticated %}
            {{ request.user.username }}
            {% else %}
            гость
            {% endif%}
            !&nbsp;
            <a href="/{% if request.user.is_authenticated %}logout{% else %}login{% endif %}">
                {% if request.user.is_authenticated %}Выйти{% else %}Войти{% endif %}
            </a>
        </p>-->
    </header>
    <nav>
        <ul class="centered">
            <li>Главная</li>
            <li>Новости</li>
            <li>Статьи</li>
            <li>Галерея</li>
            <li>Контакты</li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
</body>

</html>