{% extends "base.html" %}
{% block html_title %}Главная{% endblock %}
{% block body %}
<div class="centered">
    <h1>Последние записи</h1>
    <div class="bricks">
        {% for post in posts %}
        <div class="brick">
            <div class="brick-inner">
                <img src="https://tlum.ru/uploads/1373406c164e3d88844bea54c71525c2afa06849eef2985e8aef6932f952598a.jpeg">
                <a href="/post/{{ post.url_name }}">{{ post.title }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}