{% extends "base.html" %}
{% block html_title %}Вход{% endblock %}
{% block body %}
<h1>Вход</h1>
<form action="/login" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Имя пользователя">
    <input type="password" name="password" placeholder="Пароль">
    <button>Войти</button>
</form>
{% endblock %}