{% extends "base.html" %}
{% block html_title %}{{ post.title }}{% endblock %}
{% block body %}
<style>
    body{
        background: #fff;
    }
    .w-100,
    .brick.w-100 {
        width: 100%;
    }

    .brick.w-100>.brick-inner {
        margin-left: 0;
        margin-right: 0;
    }

    .post-title {
        margin-top: 1.5em;
        font-weight: 700;
        font-size: 3em;
        color: #3f51b5;
    }

    .post-content{
        line-height: 1.6;
    }

    .post-content blockquote {
        font-size: 1.5em;
        font-weight: 700;
        margin: 0;
        border-left: 6px solid #FF9800;
        padding: 24px 36px;
        margin: 24px 0;
        background: #fff8e1;
    }

    .post-content blockquote cite {
        display: block;
        margin-top: 12px;
        font-size: 0.67em;
        font-weight: 100;
    }
</style>
<div class="centered">
    <h1 class="post-title">{{ post.title }}</h1>
    <div class="brick w-100">
        <div class="">
            <div class="post-content">{{ post.content|safe }}</div>
        </div>
    </div>
    <div class="post-info">
        <p class="post-author">{{ post.author }}</p>
        <p class="post-created">{{ post.created }}</p>
    </div>
</div>
{% endblock %}